/* Whenever this file is modified, run `npm install` or `bash portIronDocViewer.sh` */

.member, iron-doc-summary, iron-doc-property-2, iron-doc-function {
  @apply --paper-font-body1;
  box-sizing: border-box;
  display: block;
  padding: 8px 16px;
}

.deeplink {
  color: inherit;
}

code, .code {
  color: inherit;
}

#api {
  border-bottom: 1px solid #dedede;
}

a {
  color: var(--theme-blue-small);
  font-weight: 600;
}

a[href^="#"] {
  color: currentColor;
}

nav > header {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

#signature {
  font-weight: 600;
  font-family: var(--monospace-font);
}